/*********************    FONT STYLE         ******************************/
@font-face {
  font-family: "display-Regular";
  src: url("../assets/fonts/FontsFree-Net-SFProDisplay-Regular.ttf"); }
@font-face {
  font-family: "display-Bold";
  src: url("../assets/fonts/FontsFree-Net-SFProDisplay-Bold.ttf"); }
@font-face {
  font-family: "display-Light";
  src: url("../assets/fonts/FontsFree-Net-SFProDisplay-Light-1.ttf"); }
@font-face {
  font-family: "display-Medium";
  src: url("../assets/fonts/FontsFree-Net-SFProDisplay-Medium.ttf"); }
@font-face {
  font-family: "display-semibold";
  src: url("../assets/fonts/FontsFree-Net-SFProDisplay-Semibold.ttf"); }
@font-face {
  font-family: "proxima-light";
  src: url("../assets/fonts/ProximaNova-Light.ttf") format("truetype"); }
@font-face {
  font-family: "proxima-regular";
  src: url("../assets/fonts/ProximaNova-Regular.ttf") format("truetype"); }
@font-face {
  font-family: "proxima-bold";
  src: url("../assets/fonts/ProximaNova-Bold.ttf") format("truetype"); }
@font-face {
  font-family: "proxima-light";
  src: url("../assets/fonts/ProximaNovaT-Thin.ttf") format("truetype"); }
.font-display-bold {
  font-family: display-bold, sans-serif; }

.font-family-semibold {
  font-family: display-semibold, sans-serif; }

.font-display-regular {
  font-family: display-Regular, sans-serif; }

.icon {
  display: inline-block;
  -webkit-mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
  background-color: red; }
  .icon.icon-phone {
    mask-image: url("../assets/page1/icons/a!f.svg");
    -webkit-mask-image: url("../assets/page1/icons/a!f.svg"); }

html {
  font-family: ProximaNova, sans-serif !important; }
  html .container-fluid {
    background-color: #F8F8FA; }
    html .container-fluid .mainmenu {
      width: 390px;
      display: flex;
      justify-content: space-between;
      position: relative;
      margin: 0 0 30px;
      height: 61px;
      align-items: center; }
      html .container-fluid .mainmenu a {
        font-family: proxima-bold, sans-serif;
        font-size: 15px;
        line-height: 18px;
        letter-spacing: 0;
        text-align: left;
        color: gray;
        text-decoration: none; }
        html .container-fluid .mainmenu a:hover {
          color: black; }
        html .container-fluid .mainmenu a:focus {
          color: black; }
        html .container-fluid .mainmenu a::after {
          content: '';
          color: gray;
          width: 195px;
          height: 3px;
          position: absolute;
          top: 0; }
      html .container-fluid .mainmenu p {
        font-family: ProximaNova, sans-serif;
        font-size: 15px;
        line-height: 18px;
        letter-spacing: 0px;
        text-align: left; }
  html body {
    width: 100%;
    overflow-x: hidden; }
    html body nav .container {
      margin-bottom: 38px; }
      html body nav .container .dropdown {
        margin-left: 66px;
        background-color: #FFFFFF; }
      html body nav .container a:nth-child(2) {
        color: #2F2F2F; }
    html body .it-academy .container-fluid {
      background-color: #003846;
      height: 805px; }
      html body .it-academy .container-fluid .container {
        padding-top: 138px;
        position: relative; }
        html body .it-academy .container-fluid .container h1 {
          font-size: 60px;
          color: white;
          font-family: proxima-bold, sans-serif;
          line-height: 50px; }
        html body .it-academy .container-fluid .container p {
          padding-top: 18px;
          color: white;
          font-family: proxima-light, sans-serif;
          font-size: 22px;
          line-height: 33px;
          letter-spacing: 0;
          text-align: left;
          width: 45%;
          padding-bottom: 145px; }
        html body .it-academy .container-fluid .container .row {
          position: absolute;
          z-index: 3; }
          html body .it-academy .container-fluid .container .row .col-6 {
            background-color: white;
            padding: 0;
            margin: 0; }
            html body .it-academy .container-fluid .container .row .col-6:hover {
              background-color: #0A4958; }
              html body .it-academy .container-fluid .container .row .col-6:hover .wrapforp p {
                color: white !important; }
            html body .it-academy .container-fluid .container .row .col-6 .wrapforp {
              padding: 87px 140px 0 49px; }
              @media (max-width: 992px) {
                html body .it-academy .container-fluid .container .row .col-6 .wrapforp {
                  padding-top: 20px; } }
              html body .it-academy .container-fluid .container .row .col-6 .wrapforp p {
                font-family: proxima-regular, sans-serif;
                font-size: 23px;
                line-height: 30px;
                letter-spacing: 0;
                text-align: left;
                padding: 0;
                margin: 0;
                width: 155px;
                color: #000000; }
            html body .it-academy .container-fluid .container .row .col-6 img {
              padding: 39px 59px 38px 0; }
        html body .it-academy .container-fluid .container .shocked {
          position: absolute;
          top: 10px;
          right: 250px;
          z-index: 1; }
          html body .it-academy .container-fluid .container .shocked img {
            width: 250%;
            height: 790px; }
    html body .container .courses a {
      width: 90px;
      font-family: proxima-regular, sans-serif;
      font-size: 18px;
      line-height: 30px;
      margin-top: 336px;
      color: black;
      cursor: pointer;
      text-decoration: none;
      border-bottom: 1px solid gray;
      display: flex;
      justify-content: center; }
    html body .container .courses h4 {
      padding-top: 54px;
      height: 35px;
      width: 103px;
      font-size: 35px;
      line-height: 35px;
      font-family: proxima-regular, sans-serif; }
    html body .container .courses table {
      margin-top: 47px; }
      html body .container .courses table tr th {
        font-family: proxima-regular, sans-serif;
        font-size: 20px;
        line-height: 22px;
        letter-spacing: 0px;
        text-align: left; }
      html body .container .courses table tr td {
        font-family: proxima-regular, sans-serif;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: 0px;
        text-align: left; }
      html body .container .courses table tr:hover {
        background-color: #003846; }
        html body .container .courses table tr:hover td {
          color: white; }
        html body .container .courses table tr:hover th {
          color: white; }
    html body .container .courses h3 {
      font-family: ProximaNova, sans-serif;
      font-size: 35px;
      line-height: 35px;
      letter-spacing: 0;
      text-align: left; }
    html body .container .courses .imgbackground {
      background-color: #0E404C;
      border-radius: 50%;
      width: 165px;
      height: 157px;
      display: flex;
      justify-content: center;
      align-items: center; }
    html body .container .courses p {
      width: 158px;
      display: flex;
      justify-content: center;
      align-items: center; }
    html body .carry {
      height: 14px !important;
      width: 14px !important;
      border-radius: 50%; }
    html body .carousel-indicators {
      box-sizing: content-box;
      bottom: -40px !important;
      left: -10px !important;
      position: absolute;
      justify-content: start !important; }
    html body .container-fluid .container .mt-2 img {
      width: 100%; }
      @media (max-width: 576px) {
        html body .container-fluid .container .mt-2 img {
          width: 80px;
          margin: 0 auto; } }
    html body footer {
      background-color: #E5E5E5;
      padding: 20px;
      padding-top: 130px; }
      html body footer .col-sm-2 h4 {
        font-size: 18px;
        font-family: proxima-regular, sans-serif;
        margin-bottom: 24px;
        font-weight: 500; }
      html body footer .col-sm-2 a {
        font-size: 14px;
        display: inline-block;
        margin-bottom: 15px;
        color: rgba(92, 92, 92, 0.64) !important; }
      html body footer .col-sm-3 h4 {
        font-size: 18px;
        font-family: proxima-regular, sans-serif;
        margin-bottom: 24px; }
        @media (max-width: 576px) {
          html body footer .col-sm-3 h4 {
            display: none; } }
      html body footer .col-sm-3 a {
        font-size: 14px;
        display: inline-block;
        margin-bottom: 15px;
        color: #6C6C6C !important; }
        html body footer .col-sm-3 a p {
          font-size: 25px;
          line-height: 33px;
          color: #2F2F2F;
          font-weight: 600; }
        @media (max-width: 576px) {
          html body footer .col-sm-3 a {
            margin-right: 30px; } }
      @media (max-width: 576px) {
        html body footer .col-sm-3 {
          text-align: center; } }

/*# sourceMappingURL=main.css.map */
