/*********************    FONT STYLE         ******************************/

@font-face {
  font-family: "display-Regular";
  src: url("../assets/fonts/FontsFree-Net-SFProDisplay-Regular.ttf");
}

@font-face {
  font-family: "display-Bold";
  src: url("../assets/fonts/FontsFree-Net-SFProDisplay-Bold.ttf");
}

@font-face {
  font-family: "display-Light";
  src: url("../assets/fonts/FontsFree-Net-SFProDisplay-Light-1.ttf");
}

@font-face {
  font-family: "display-Medium";
  src: url("../assets/fonts/FontsFree-Net-SFProDisplay-Medium.ttf");
}

@font-face {
  font-family: "display-semibold";
  src: url("../assets/fonts/FontsFree-Net-SFProDisplay-Semibold.ttf");
}

@font-face {
  font-family: "proxima-light";
  src: url("../assets/fonts/ProximaNova-Light.ttf") format("truetype");
}

@font-face {
  font-family: "proxima-regular";
  src: url("../assets/fonts/ProximaNova-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "proxima-bold";
  src: url("../assets/fonts/ProximaNova-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "proxima-light";
  src: url("../assets/fonts/ProximaNovaT-Thin.ttf") format("truetype");
}

.font-display-bold {
  font-family: display-bold, sans-serif;
}

.font-family-semibold {
  font-family: display-semibold, sans-serif;
}

.font-display-regular {
  font-family: display-Regular, sans-serif;
}


// *****************  color style   **************


$color-black: #2F2F2F;
$color-grey: #7F7F7F;
$color-grey-sm: #5F5F5F;
$color-modul: #939394;
$color-white: #fff;

/////////*************images*****************///////////////////
.icon {

  display: inline-block;


  -webkit-mask-size: 100%;
  -webkit-mask-repeat: no-repeat;

  background-color: red;

  &.icon-phone {
    mask-image: url("../assets/page1/icons/a!f.svg");
    -webkit-mask-image: url("../assets/page1/icons/a!f.svg");
  }

}


html {
  font-family: ProximaNova, sans-serif !important;
  .container-fluid {
    background-color: #F8F8FA;

    .mainmenu {
      width: 390px;
      display: flex;
      justify-content: space-between;
      position: relative;
      margin: 0 0 30px;
      height: 61px;
      align-items: center;


      a {
        font-family: proxima-bold, sans-serif;
        font-size: 15px;
        line-height: 18px;
        letter-spacing: 0;
        text-align: left;
        color: gray;
        text-decoration: none;

        &:hover {
          color: black;
        }

        &:focus {
          color: black;
        }

        &::after {
          content: '';
          color: gray;
          width: 195px;
          height: 3px;
          position: absolute;
          top: 0;
        }
      }

      p {
        font-family: ProximaNova, sans-serif;
        font-size: 15px;
        line-height: 18px;
        letter-spacing: 0px;
        text-align: left;

      }
    }
  }

  body {
    width: 100%;
    overflow-x: hidden;

    nav {
      .container {
        margin-bottom: 38px;

        .dropdown {
          margin-left: 66px;
          background-color: #FFFFFF;
        }

        a {

          &:nth-child(2) {
            color: $color-black;
          }
        }

      }
    }


    .it-academy {
      .container-fluid {
        background-color: #003846;
        height: 805px;

        .container {
          padding-top: 138px;
          position: relative;

          h1 {
            font-size: 60px;
            color: white;
            font-family: proxima-bold, sans-serif;
            line-height: 50px;
          }

          p {
            padding-top: 18px;
            color: white;
            font-family: proxima-light, sans-serif;
            font-size: 22px;
            line-height: 33px;
            letter-spacing: 0;
            text-align: left;
            width: 45%;
            padding-bottom: 145px;

          }

          .row {
            position: absolute;
            z-index: 3;


            .col-6 {
              background-color: white;
              padding: 0;
              margin: 0;

              &:hover {
                background-color: #0A4958;

                & .wrapforp {
                  p {
                    color: white !important;
                  }
                }
              }

              .wrapforp {
                padding: 87px 140px 0 49px;
                @media (max-width: 992px) {
                  padding-top: 20px;
                }

                p {
                  font-family: proxima-regular, sans-serif;
                  font-size: 23px;
                  line-height: 30px;
                  letter-spacing: 0;
                  text-align: left;
                  padding: 0;
                  margin: 0;
                  width: 155px;
                  color: #000000;

                }
              }

              img {
                padding: 39px 59px 38px 0;
              }
            }
          }


          .shocked {
            position: absolute;
            top: 10px;
            right: 250px;
            z-index: 1;

            img {
              width: 250%;
              height: 790px;
            }
          }

        }
      }
    }


    .container {
      .courses {
        a {
          width: 90px;
          font-family: proxima-regular, sans-serif;
          font-size: 18px;
          line-height: 30px;
          margin-top: 336px;
          color: black;
          cursor: pointer;
          text-decoration: none;
          border-bottom: 1px solid gray;
          display: flex;
          justify-content: center;

        }

        h4 {
          padding-top: 54px;
          height: 35px;
          width: 103px;
          font-size: 35px;
          line-height: 35px;
          font-family: proxima-regular, sans-serif;

        }

        table {
          margin-top: 47px;

          tr {
            th {
              font-family: proxima-regular, sans-serif;
              font-size: 20px;
              line-height: 22px;
              letter-spacing: 0px;
              text-align: left;
            }

            td {
              font-family: proxima-regular, sans-serif;
              font-size: 16px;
              line-height: 22px;
              letter-spacing: 0px;
              text-align: left;


            }

            &:hover {
              background-color: #003846;

              td {
                color: white;
              }

              th {
                color: white;
              }
            }
          }
        }
h3{
  font-family: ProximaNova, sans-serif;
  font-size: 35px;
  line-height: 35px;
  letter-spacing: 0;
  text-align: left;

}
        .imgbackground{
          background-color: #0E404C;
          border-radius: 50%;
          width: 165px;
          height: 157px;
          display: flex;
          justify-content: center;
          align-items: center;




        }
        p{
          width: 158px ;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
    .carry{
      height: 14px !important;
      width: 14px !important;
      border-radius: 50%;
    }

    .carousel-indicators{
      box-sizing: content-box;
      bottom: -40px !important;
      left: -10px !important;
      position: absolute;
      justify-content: start !important;
    }

    .container-fluid{
      .container{
        .mt-2{
          img{
            width: 100%;
            @media (max-width: 576px) {
              width: 80px;
              margin: 0 auto;
            }
          }
        }
      }
    }

    footer {
      background-color: #E5E5E5;
      padding: 20px;
      padding-top: 130px;


      .col-sm-2 {
        h4 {
          font-size: 18px;
          font-family: proxima-regular, sans-serif;
          margin-bottom: 24px;
          font-weight: 500;
        }

        a {
          font-size: 14px;
          display: inline-block;
          margin-bottom: 15px;
          color: rgba(92, 92, 92, 0.64) !important;
        }
      }

      .col-sm-3 {
        h4 {
          font-size: 18px;
          font-family: proxima-regular, sans-serif;
          margin-bottom: 24px;

          @media (max-width: 576px) {
            display: none;
          }
        }

        a {
          font-size: 14px;
          display: inline-block;
          margin-bottom: 15px;
          color: #6C6C6C !important;

          p {
            font-size: 25px;
            line-height: 33px;
            color: $color-black;
            font-weight: 600;
          }

          @media (max-width: 576px) {
            //text-align: center;
            margin-right: 30px;
          }
        }

        @media (max-width: 576px) {
          //margin-left: 20%;
          text-align: center;
        }
      }
    }

  }


}