/*********************    FONT STYLE         ******************************/
@font-face {
  font-family: "display-Regular";
  src: url("../assets/fonts/FontsFree-Net-SFProDisplay-Regular.ttf"); }
@font-face {
  font-family: "display-Bold";
  src: url("../assets/fonts/FontsFree-Net-SFProDisplay-Bold.ttf"); }
@font-face {
  font-family: "display-Light";
  src: url("../assets/fonts/FontsFree-Net-SFProDisplay-Light-1.ttf"); }
@font-face {
  font-family: "display-Medium";
  src: url("../assets/fonts/FontsFree-Net-SFProDisplay-Medium.ttf"); }
@font-face {
  font-family: "display-semibold";
  src: url("../assets/fonts/FontsFree-Net-SFProDisplay-Semibold.ttf"); }
.font-display-bold {
  font-family: display-bold ,sans-serif; }

.font-family-semibold {
  font-family: display-semibold, sans-serif; }

.font-display-regular {
  font-family: display-Regular, sans-serif; }

.bggrey {
  background-color: #F8F8F8; }

html {
  font-size: 16px; }
  html body {
    width: 100%;
    overflow-x: hidden; }
    html body nav .container .dropdown {
      margin-left: 66px;
      background-color: #FFFFFF; }
    html body nav .container a .usermini {
      width: 35px;
      height: 35px; }
    html body nav .container a p {
      font-size: 16px;
      line-height: 19px;
      font-weight: 600;
      margin-top: 10px;
      padding-right: 17px;
      color: #2F2F2F; }
    html body nav .container a .btn {
      width: 35px;
      height: 35px;
      padding-left: 17px;
      border-radius: 50% !important; }
    html body main .container {
      padding: 50px 0; }
      html body main .container .row .col-4 .card .card-header img {
        padding: 25px 15px 25px 0; }
      html body main .container .row .col-4 .card .card-header h5 {
        padding-top: 30px;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px; }
      html body main .container .row .col-4 .card .card-header p {
        color: #939394;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px; }
      html body main .container .row .col-4 .card .card-header h4 {
        width: 140px;
        font-family: "display-semibold";
        font-size: 16px;
        line-height: 22px;
        color: #939394; }
      html body main .container .row .col-4 .card .card-header h3 {
        color: #939394; }
      html body main .container .row .col-4 .card .card-footer h3 {
        font-family: "display-semibold";
        font-style: normal;
        font-weight: bold;
        font-size: 25px;
        line-height: 35px;
        letter-spacing: -0.833333px; }
      html body main .container .row .col-4 .card .card-footer p {
        color: #5F5F5F;
        font-family: "display-Regular", sans-serif;
        font-size: 12px;
        line-height: 14px;
        padding-top: 19px; }
      html body main .container .row .col-4 .card .card-footer img {
        padding-top: 19px; }
      html body main .container .row .col-4 .card .card-body .pos0 {
        position: relative; }
      html body main .container .row .col-4 .card .card-body .img1 {
        padding: 0 15px; }
      html body main .container .row .col-4 .card .card-body .img2 {
        padding: 0 20px; }
      html body main .container .row .col-4 .card .card-body .pos1 {
        position: absolute;
        top: 8px;
        right: 5px; }
      html body main .container .row .col-4 .card .card-body p {
        font-size: 10px;
        line-height: 12px;
        color: #5F5F5F;
        margin-bottom: 0; }
      html body main .container .row .col-4 .card .card-body .pad1 {
        padding-right: 35px; }
      html body main .container .row .col-8 .nav {
        margin-top: 40px;
        margin-bottom: 10px;
        background-color: rgba(185, 185, 185, 0.5);
        color: #585858;
        padding-left: 10px; }
        html body main .container .row .col-8 .nav .nav-link {
          color: #000;
          font-size: 20px;
          line-height: 24px;
          padding: 15px 26px; }
          html body main .container .row .col-8 .nav .nav-link.active {
            color: #070707;
            border-bottom: 2px solid #585858; }
      html body main .container .row .col-8 .tab-content .tab-pane .col-12 {
        margin-bottom: 100px; }
        html body main .container .row .col-8 .tab-content .tab-pane .col-12 .col-8 {
          border: 1px solid rgba(128, 128, 128, 0.57);
          margin-top: 30px;
          border-radius: 30px; }
          html body main .container .row .col-8 .tab-content .tab-pane .col-12 .col-8 .pos2 {
            position: relative; }
            html body main .container .row .col-8 .tab-content .tab-pane .col-12 .col-8 .pos2 .left1 {
              position: absolute;
              left: -5px;
              top: 5px; }
            html body main .container .row .col-8 .tab-content .tab-pane .col-12 .col-8 .pos2 .right1 {
              position: absolute;
              top: 5px;
              left: 55px; }
      html body main .container .row .col-8 .tab-content .tab-pane .bggrey {
        border-radius: 30px;
        padding-top: 10px; }
        html body main .container .row .col-8 .tab-content .tab-pane .bggrey .rasm {
          position: absolute;
          right: 0;
          bottom: 0; }
      html body main .container .row .col-8 .tab-content .tab-pane .col-2 h5 {
        font-family: display-Regular, sans-serif;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
        text-align: left;
        margin: 20px;
        margin-left: 50px; }
      html body main .container .row .col-8 .tab-content .tab-pane .clock {
        margin-left: 10px;
        position: absolute;
        bottom: -100px;
        right: 150px;
        margin-bottom: 50px; }
        html body main .container .row .col-8 .tab-content .tab-pane .clock h5 {
          color: #6C6C6C;
          font-size: 14px;
          line-height: 16px; }
      html body main .container .row .col-8 .tab-content .check1 {
        margin: 17px 0;
        width: 37px;
        height: 59px;
        border-radius: 30px;
        box-shadow: 0px 11px 14px rgba(0, 0, 0, 0.0339543);
        background-color: #63C19C;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column; }
        html body main .container .row .col-8 .tab-content .check1 h5 {
          font-size: 15px;
          line-height: 16px;
          color: #fff; }
      html body main .container .row .col-8 .tab-content .error1 {
        width: 37px;
        height: 59px;
        margin: 17px 20px;
        border: 1px solid #FFB685;
        filter: drop-shadow(0px 11px 14px rgba(0, 0, 0, 0.0339543));
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column; }
        html body main .container .row .col-8 .tab-content .error1 h5 {
          font-size: 15px;
          line-height: 16px;
          color: #FFB685; }
      html body main .container .row .col-8 .tab-content .uch {
        margin: 17px 0;
        width: 37px;
        height: 59px;
        border-radius: 30px;
        box-shadow: 0px 11px 14px rgba(0, 0, 0, 0.0339543);
        border: 1px solid #E6E6E6;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column; }
        html body main .container .row .col-8 .tab-content .uch h5 {
          font-size: 15px;
          line-height: 16px;
          color: #7F7F7F; }
      html body main .container .row .col-8 .tab-content .nimadir3 {
        width: 40px;
        height: 30px;
        border-radius: 50%;
        background: #F8F8FA;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 16px;
        padding: 15px 10px 10px; }
        html body main .container .row .col-8 .tab-content .nimadir3 h5 {
          font-size: 15px;
          line-height: 16px;
          /* identical to box height, or 107% */
          color: #2E2F2F; }
      html body main .container .row .col-8 .tab-content .small-part p {
        font-weight: 600;
        font-size: 18px;
        line-height: 26px; }
      html body main .container .row .col-8 .tab-content .cardpath {
        margin-right: 20px;
        width: 78px;
        height: 61px;
        background: #F0F0F0;
        border-radius: 10px; }
        html body main .container .row .col-8 .tab-content .cardpath img {
          padding: 14px 30px 10px; }
        html body main .container .row .col-8 .tab-content .cardpath p {
          padding: 0 15px 6px;
          font-size: 12px;
          line-height: 16px;
          /* identical to box height, or 133% */
          color: #2F2F2F; }
      html body main .container .row .col-8 .tab-content .tab3p {
        height: 60px;
        background: #F8F8FA;
        border-radius: 30px;
        display: flex;
        justify-content: center;
        align-items: center; }
        html body main .container .row .col-8 .tab-content .tab3p p {
          font-size: 14px;
          line-height: 21px;
          /* or 150% */
          color: #2F2F2F; }
      html body main .container .row .col-8 .tab-content .tabe-pane3 h4 {
        font-family: display-Regular, sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
        text-align: left;
        margin-bottom: 15px; }
      html body main .container .row .col-8 .tab-content .tabe-pane3 button {
        background-color: #F0F0F0;
        border-radius: 10px;
        margin-bottom: 75px; }
      html body main .container .row .col-8 .tab-content .tab-pane4 h6 {
        font-family: display-Regular, sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
        text-align: left; }
      html body main .container .row .col-8 .tab-content .tab-pane4 button {
        background-color: #F0F0F0;
        border-radius: 10px;
        height: 35px; }
    html body footer {
      background-color: #E5E5E5;
      padding: 20px;
      padding-bottom: 130px; }
      html body footer .col-sm-2 h4 {
        font-size: 18px;
        font-family: display-Regular,sans-serif;
        margin-bottom: 24px;
        font-weight: 500; }
      html body footer .col-sm-2 a {
        font-size: 14px;
        display: inline-block;
        margin-bottom: 15px;
        color: rgba(92, 92, 92, 0.64) !important; }
      html body footer .col-sm-3 h4 {
        font-size: 18px;
        font-family: display-Regular,sans-serif;
        margin-bottom: 24px; }
        @media (max-width: 576px) {
          html body footer .col-sm-3 h4 {
            display: none; } }
      html body footer .col-sm-3 a {
        font-size: 14px;
        display: inline-block;
        margin-bottom: 15px;
        color: #6C6C6C !important; }
        html body footer .col-sm-3 a p {
          font-size: 25px;
          line-height: 33px;
          color: #2F2F2F;
          font-weight: 600; }
        @media (max-width: 576px) {
          html body footer .col-sm-3 a {
            margin-right: 30px; } }
      @media (max-width: 576px) {
        html body footer .col-sm-3 {
          text-align: center; } }

/*# sourceMappingURL=main.css.map */
