/*********************    FONT STYLE         ******************************/

@font-face {
  font-family: "display-Regular";
  src: url("../assets/fonts/FontsFree-Net-SFProDisplay-Regular.ttf");
}

@font-face {
  font-family: "display-Bold";
  src: url("../assets/fonts/FontsFree-Net-SFProDisplay-Bold.ttf");
}
@font-face {
  font-family: "display-Light";
  src: url("../assets/fonts/FontsFree-Net-SFProDisplay-Light-1.ttf");
}
@font-face {
  font-family: "display-Medium";
  src: url("../assets/fonts/FontsFree-Net-SFProDisplay-Medium.ttf");
}

@font-face {
  font-family: "display-semibold";
  src: url("../assets/fonts/FontsFree-Net-SFProDisplay-Semibold.ttf");
}

.font-display-bold{
  font-family: display-bold ,sans-serif;
}

.font-family-semibold{
  font-family: display-semibold, sans-serif;
}

.font-display-regular{
  font-family: display-Regular, sans-serif;
}



// *****************  color style   **************


$color-black: #2F2F2F;
$color-grey: #7F7F7F;
$color-grey-sm: #5F5F5F;
$color-modul: #939394;
$color-white: #fff;


.bggrey{
  background-color: #F8F8F8;
}







html{
  font-size: 16px;

  body{
    width: 100%;
    overflow-x: hidden;

    nav{
      .container{

        .dropdown{
          margin-left: 66px;
          background-color: #FFFFFF;
        }

        a{
          .usermini{
            width: 35px;
            height: 35px;
          }

          p{
            font-size: 16px;
            line-height: 19px;
            font-weight: 600;
            margin-top: 10px;
            padding-right: 17px;
            color: $color-black;
          }
          .btn{
            width: 35px;
            height: 35px;
            padding-left: 17px;
            border-radius: 50%!important;
            
          }

          
        }

      }
    }

    main{

      .container{

        padding: 50px 0;

        .row{


          .col-4{
            .card{


              .card-header{
  
                img{
                  padding: 25px 15px 25px 0;
                  
                }
                h5{
                  padding-top: 30px;
                  font-style: normal;
                  font-weight: 600;
                  font-size: 14px;
                  line-height: 17px;
  
                }
                p{
                  color: $color-modul;
                  font-style: normal;
                  font-weight: normal;
                  font-size: 12px;
                  line-height: 14px;
                }
  
                h4{
                  width: 140px;
                  font-family: "display-semibold";
                  font-size: 16px;
                  line-height: 22px;
                  color: $color-modul;
                }
                h3{
                  color: $color-modul;
                }
                
  
              }
  
              .card-footer{
  
                h3{
  
                  font-family: "display-semibold";
                  font-style: normal;
                  font-weight: bold;
                  font-size: 25px;
                  line-height: 35px;
                  letter-spacing: -0.833333px;
                }
                p{
                  color: $color-grey-sm;
                  font-family: "display-Regular", sans-serif;
                  font-size: 12px;
                  line-height: 14px;
                  padding-top: 19px;
                }
                img{
                  padding-top: 19px;
                }
  
              }
  
              .card-body{
                .pos0{
                  position: relative;
                }
  
                .img1{
                  padding: 0 15px;
                }
                .img2{
                  padding: 0 20px;
                }
                .pos1{
                  position: absolute;
                  top: 8px;
                  right: 5px;
                  
                }
                p{
                  font-size: 10px;
                  line-height: 12px;
                  color: $color-grey-sm;
                  margin-bottom: 0;
                }
                .pad1{
                  padding-right: 35px;
                }
  
  
              }
            }
          }

          .col-8{

            .nav{

              margin-top: 40px;
              margin-bottom: 10px;
              background-color:  rgba(185, 185, 185, 0.5);
              color: #585858;
              // width: 800px;
              // border-radius: 25px;
              padding-left: 10px;
              // padding-bottom: 10px;
              // box-shadow: 0 0 10px #a0a0a0;
              
              .nav-link{
                  color: #000;
                  font-size: 20px;
                  line-height: 24px;
                  padding: 15px 26px;
      
                  
                  &.active{
                      color: rgb(7, 7, 7);
                      border-bottom: 2px solid #585858;
                  }
      
                  
      
              }
      
          }
      
          .tab-content{
            .tab-pane{

              .col-12{
                margin-bottom: 100px;


                .col-8{

                  border: 1px solid rgba(128, 128, 128, 0.57);
                  margin-top: 30px;
                  border-radius: 30px;
                  .pos2{
                    position: relative;

                    .left1{

                      position: absolute;
                      left: -5px;
                      top: 5px;
                    }

                    .right1{
                      position: absolute;
                      top: 5px;
                      left: 55px;
                    }
                  }
                }



              }
              .bggrey{
                border-radius: 30px;
                padding-top: 10px;

                .rasm{
                  position: absolute;
                  right: 0;
                  bottom: 0;
                }


                }
              .col-2{
                h5{
                  font-family: display-Regular, sans-serif;
                  font-size: 12px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: 16px;
                  text-align: left;
                  margin: 20px;
                  margin-left: 50px;
                }
              }

              .clock{
                h5{
                  color: #6C6C6C;
                  font-size: 14px;
                  line-height: 16px;
                }
                margin-left: 10px;
                position: absolute;
                bottom: -100px;
                right: 150px;
                margin-bottom: 50px;
              }
            }

            .check1{
              margin: 17px 0;

              width: 37px;
              height: 59px;
              border-radius: 30px;
              box-shadow: 0px 11px 14px rgba(0, 0, 0, 0.0339543);
              background-color: #63C19C;
              display: flex;
              align-items: center;
              justify-content: center;
              flex-direction: column;
              h5{
                font-size: 15px;
                line-height: 16px;
                color: #fff;
              }
            }
            .error1{
              width: 37px;
              height: 59px;
              margin: 17px 20px;
              border: 1px solid #FFB685;
              filter: drop-shadow(0px 11px 14px rgba(0, 0, 0, 0.0339543));
              border-radius: 30px;
              display: flex;
              align-items: center;
              justify-content: center;
              flex-direction: column;
              h5{
                font-size: 15px;
                line-height: 16px;
                color: #FFB685;
              }

            }

            .uch{
              margin: 17px 0;

              width: 37px;
              height: 59px;
              border-radius: 30px;
              box-shadow: 0px 11px 14px rgba(0, 0, 0, 0.0339543);
              border: 1px solid #E6E6E6;
              background-color: #fff;

              display: flex;
              align-items: center;
              justify-content: center;
              flex-direction: column;
              h5{
                font-size: 15px;
                line-height: 16px;
                color: $color-grey;
              }

            }

            .nimadir3{
              width: 40px;
              height: 30px;
              border-radius: 50%;
              background: #F8F8FA;
              display: flex;
              align-items: center;
              justify-content: center;
              margin-right: 16px;
              padding: 15px 10px 10px;
              h5{
                font-size: 15px;
                line-height: 16px;
                /* identical to box height, or 107% */
                color: #2E2F2F;
              }
            }

            .small-part{

              p{
                font-weight: 600;
                font-size: 18px;
                line-height: 26px;
              }
            }

            .cardpath{
              margin-right: 20px;
              width: 78px;
              height: 61px;
              background: #F0F0F0;
              border-radius: 10px;
              img{
                padding: 14px 30px 10px;
              }
              p{
                padding: 0 15px 6px;
                font-size: 12px;
                line-height: 16px;
                /* identical to box height, or 133% */
                color: #2F2F2F;
              }

            }
            .tab3p{
              // width: 579px;
              height: 60px;
              background: #F8F8FA;
              border-radius: 30px;
              display: flex;
              justify-content: center;
              align-items: center;
              p{
                font-size: 14px;
                line-height: 21px;
                /* or 150% */
                color: #2F2F2F;
              }

            }

            .tabe-pane3{
              h4{
                font-family: display-Regular, sans-serif;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 26px;
                text-align: left;
                margin-bottom: 15px;
              }
              button{
                background-color: #F0F0F0;
                border-radius: 10px;
                margin-bottom: 75px;
              }
            }

            .tab-pane4{
              h6{
                font-family: display-Regular, sans-serif;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 26px;
                text-align: left;

              }
              button{
                background-color: #F0F0F0;
                border-radius: 10px;
                height: 35px;

              }
            }
              
          }

          

          }


        }
      }


      
    }


    footer{
      background-color: #E5E5E5;
      padding: 20px;
      padding-bottom: 130px;

      .col-sm-2{
        h4{
          font-size: 18px;
          font-family: display-Regular,sans-serif;
          margin-bottom: 24px;
          font-weight: 500;
        }
        a{
          font-size: 14px;
          display: inline-block;
          margin-bottom: 15px;
          color: rgba(92, 92, 92, 0.64)!important;
        }
      }

      .col-sm-3{
        h4{
          font-size: 18px;
          font-family: display-Regular,sans-serif;
          margin-bottom: 24px;

          @media (max-width: 576px) {
            display: none;
          }
        }
        a{
          font-size: 14px;
          display: inline-block;
          margin-bottom: 15px;
          color: #6C6C6C!important;

          p{
            font-size: 25px;
            line-height: 33px;
            color: $color-black;
            font-weight: 600;
          }

          @media (max-width: 576px) {
            //text-align: center;
            margin-right: 30px;
          }
        }
        @media (max-width: 576px) {
          //margin-left: 20%;
          text-align: center;
        }
      }
    }

  }
}